body {
    background: white;
    margin: 0;

}

.navbar {
    background: rgb(221, 221, 221);
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}

.logo {
    border-radius: 20px;
    padding: 5px;
    margin-left: 160px;
    margin-right: 5px;
    height: 50px;
    width: auto;
    background-image: linear-gradient(to top right, #4400ff, #0051ff, #0077ff);
}

.sitetitle {
    margin-right: 1125px;
}

.icon {
    height: 30px;
    width: auto;
}

.shopbutton {
    margin-right: 20px;
    margin-left: 5px;
    text-decoration: none;
}

.cartbutton {
    margin-left: 5px;
    text-decoration: none;
}

.title {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 1px;
    border-radius: 25px;
    height: 150px;
    width: 1580px;
    margin-left: 150px;
    background-image: linear-gradient(to top right, #4400ff, #0051ff, #0077ff);
    color: rgb(238, 238, 238);
    font-family: Arial, Helvetica, sans-serif;
}

.titleinfo {
    margin-left: 25px;
    margin-top: 20px;
    margin-right: 25px;
}

.filters {
    margin-left: 155px;
}

.productinfo {
    margin-left: 15px;
}

.products-1 {
    display: flex;
    flex-direction: row;
}

.products-2 {
    display: flex;
    flex-direction: row;
}

.productimg {
    height: 400px;
    width: 350px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.product_1 {
    margin-left: 150px;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    width: 350px;
    height:570px;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(243, 243, 243);
    border-radius: 20px;
    outline: 2px solid rgb(215, 215, 215);
}

.product_2 {
    margin: 30px;
    width: 350px;
    height:570px;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(243, 243, 243);
    border-radius: 20px;
    outline: 2px solid rgb(215, 215, 215);
}

.product_3 {
    margin: 30px;
    width: 350px;
    height:570px;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(243, 243, 243);
    border-radius: 20px;
    outline: 2px solid rgb(215, 215, 215);
}

.product_4 {
    margin: 30px;
    width: 350px;
    height:570px;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(243, 243, 243);
    border-radius: 20px;
    outline: 2px solid rgb(215, 215, 215);
}

.product_5 {
    margin-left: 150px;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    width: 350px;
    height:570px;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(243, 243, 243);
    border-radius: 20px;
    outline: 2px solid rgb(215, 215, 215);
}

.product_6 {
    margin: 30px;
    width: 350px;
    height:570px;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(243, 243, 243);
    border-radius: 20px;
    outline: 2px solid rgb(215, 215, 215);
}

.product_7 {
    margin: 30px;
    width: 350px;
    height:570px;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(243, 243, 243);
    border-radius: 20px;
    outline: 2px solid rgb(215, 215, 215);
}

.product_8 {
    margin: 30px;
    width: 350px;
    height:570px;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(243, 243, 243);
    border-radius: 20px;
    outline: 2px solid rgb(215, 215, 215);
}

.footer {
    display: flex;
    flex-direction: row;
    margin: 0;
    background: rgb(221, 221, 221);
    font-family: Arial, Helvetica, sans-serif;
}

.footer1 {
    display: flex;
    flex-direction: row;
}

.footerlogo {
    height: 50px;
    width: auto;
    padding: 5px;
    border-radius: 20px;
    background-image: linear-gradient(to top right, #4400ff, #0051ff, #0077ff);
}