<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FootballShop-Cart</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="navbar"> <!-- The navbar, it is the same across all pages -->
        <div class="atitle">
            <a href="{{ url_for('home') }}">
                <img class="logo" src="../static/images/ball.png">
                <h1 class="sitetitle">FootballShop</h1>
            </a>
        </div>
        <img class="icon" src="../static/images/bag.png">
        <a class="shopbutton" href="{{ url_for('home') }}">Shop</a> <!-- Link to the home page with all the products -->
        <img class="icon" src="../static/images/online-shopping.png">
        <a class="cartbutton" href="{{ url_for('cart') }}">Cart</a> <!-- Link to the cart page -->
    </div>
    <div class="carttitle">
        <h1>Shopping Cart</h1>
        <img class="carticon" src="../static/images/online-shopping.png">
    </div>
    <div class="carts">
        <div class="cartitems">
            {% if PRODUCTS %}
                {% for item in PRODUCTS %}
                <div class="ci">
                    <img class="ciimg" src="{{ url_for('static', filename='images/' + item.image) }}">
                    <div>
                        <div class="cimini">
                            <h1 class="cin">{{ item.name }}</h1>
                            <h1>- ${{ item.price }}</h1>
                        </div>
                        <p>{{ item.info }}</p>
                        <div class="cartbuts">
                            <div class="quan">
                                <a href="{{ url_for('decrease_quantity', ID=item.id) }}" class="qbut">-</a>
                                <span class="qval">{{ item.quantity }}</span>
                                <a href="{{ url_for('increase_quantity', ID=item.id) }}" class="qbut">+</a>
                            </div>
                            <a href="{{ url_for('remove_from_cart', ID=item.id) }}">
                                <button class="cartbutlast">remove</button>
                            </a>
                        </div>
                        
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <div class="empty">
                    <h2>Nothing in cart</h2>
                    <a href="{{ url_for('home') }}" class="shopbutton">
                        <button class="eb">Go To Shop</button>
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="cartinfo">
            <h1 class="cit">Summary:</h1>
            <div class="summary-list">
                {% for item in PRODUCTS %}
                <div class="summary-item">
                    <span>{{ item.name }}:</span>
                    <span>${{ item.price }}</span>
                </div>
                {% endfor %}
            </div>
            <p>Shipping: $0.00 (Free!)</p>
            <h2>
                <span>Total:</span>
                <span>${{ TOTAL }}</span>
            </h2>
            <p class="paytxt">REMINDER: You will not recieve any products and you will not actually pay for them.</p>
            <a href="{{ url_for('paid') }}">
                <button class="buybut">Purchase Content</button>
            </a>
        </div>
    </div>


    <div class="footer"> <!-- footer, it is the same across all pages -->
        <div class="footer1">
            <img class="footerlogo" src="../static/images/ball.png">
            <h1>FootballShop</h1>
        </div>
        <div class="verticalline"></div> <!-- line used to divide sections of the footer -->
        <div class="footer2">
            <a href="{{ url_for('home') }}"> <!-- button that takes user to home page with all the products -->
                <button class="footbut">
                    Shop
                </button>
            </a>
            <a href="{{ url_for('cart') }}"> <!-- button that takes user to cart page -->
                <button class="footbut">
                    Cart
                </button>
            </a>
        </div>
        <div class="verticalline"></div>
        <div class="footer3"> <!-- Just information about me because I didn't know what else to put here -->
            <h2>Joshua Arada 2026</h2>
            <h2>DTE Assesment</h2>
            <h2>21005@rosmini.school.nz</h2>
        </div>
    </div>
</body>
</html>