<!--=======================================
    Home page for football website
    File: index.html
    Author: Joshua Arada
    Date Created: February 2026
    Last Updated: April 2026
    ========================================-->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FootballShop</title> 
    <link rel="stylesheet" href="../static/style.css"> 
</head>
<body>
    <!-- The navbar, it is the same across all pages -->
    <div class="navbar">
        <div class="atitle">
            <a href="{{ url_for('home') }}">
                <img class="logo" src="../static/images/ball.png">
                <h1 class="sitetitle">FootballShop</h1>
            </a>
        </div>
        <img class="icon" src="../static/images/bag.png">
        <a class="shopbutton" href="{{ url_for('home') }}">Shop</a>
        <img class="icon" src="../static/images/online-shopping.png">
        <a class="cartbutton" href="{{ url_for('cart') }}">Cart</a>
    </div>
    <!--Site title-->
    <div class="title">
        <h1 class="titleinfo">Premium Football Equipment</h1>
        <p class="titleinfo">
            Football shop is a self run store of all footballing essentials. Looking to level up your game or get started in the sport? we can help with that. We have everything football from boots, to balls, to training gear, we have it all. We hope you have a satisfactory experience shopping with us.</p>
    </div>
    <!--Simple design addition-->
    <div class="thr">
        <div class="thrbit">
            <img class="thrimg" src="static/images/soccer-ball.png">
            <h1 class="thrtit">One Stop Shop for Football</h1>
            <p class="thrinf">A football shop for the football lovers. We offer everything football wether you are a professional or a beginer. Let us help you enjoy the beutiful game</p>
        </div>
        <div class="thrbit">
            <img class="thrimg" src="static/images/verified.png">
            <h1 class="thrtit">Authenic Product</h1>
            <p class="thrinf">Everything that we offer on this site is authentic verified gear. The same stuff that the professionals and the diehard football fans use</p>
        </div>
        <div class="thrbit">
            <img class="thrimg" src="static/images/shield.png">
            <h1 class="thrtit">Protected Site</h1>
            <p class="thrinf">We will not ask for any personal information when you are browsing. You will also not have to pay for anything, but you wont recieve it.</p>
        </div>
    </div>
    <div>
        <!--Filters that sort products by category-->
        <div class="filters">
            <img class="filimg" src="static/images/filter.png">
            <p>Filters:</p>
            <div>
                <a href="{{ url_for('home', category='all') }}"><button class="filbut1" type="button">‎ ‎ All‎</button></a> <!--The [U+200E] is an invisible character that I found online-->
                <a href="{{ url_for('home', category='ball') }}"><button class="filbut" type="button">‎Balls‎</button></a>
                <a href="{{ url_for('home', category='footwear') }}"><button class="filbut" type="button">‎Footwear‎</button></a>
                <a href="{{ url_for('home', category='aparel') }}"><button class="filbut" type="button">‎Aparel‎</button></a>
                <a href="{{ url_for('home', category='accesories') }}"><button class="filbut" type="button">‎Accessories‎</button></a>
                <a href="{{ url_for('home', category='training') }}"><button class="filbut2" type="button">‎Training‎‎</button></a>
            </div>
        </div>
    </div>
    <!--Products loop-->
    <div class="products">
        {% for item in PRODUCTS %}
            <div class="product">
                <a href="{{ url_for('pro', ID=item.id) }}">
                    <img class="productimg" src="{{url_for('static', filename='images/' + item.image)}}" alt="">
                    <h3 class="productinfo">{{item.name}}</h1>
                    <p class="productinfo">{{item.info}}</p>
                    <h1 class="productinfo">${{item.price}}.00</h1>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- footer, it is the same across all pages -->
    <div class="footer">
        <div class="footer1">
            <img class="footerlogo" src="../static/images/ball.png">
            <h1>FootballShop</h1>
        </div>
        <div class="verticalline"></div>
        <div class="footer2">
            <a href="{{ url_for('home') }}">
                <button class="footbut">
                    Shop
                </button>
            </a>
            <a href="{{ url_for('cart') }}">
                <button class="footbut">
                    Cart
                </button>
            </a>
        </div>
        <div class="verticalline"></div>
        <div class="footer3">
            <h2>Joshua Arada 2026</h2>
            <h2>DTE Assesment</h2>
            <h2>21005@rosmini.school.nz</h2>
        </div>
    </div>
</body>
</html>