<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FootballShop</title> 
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="navbar">
        <img class="logo" src="../static/images/ball.png">
        <h1 class="sitetitle">FootballShop</h1>
        <img class="icon" src="../static/images/bag.png">
        <a class="shopbutton" href="{{ url_for('home') }}">Shop</a>
        <img class="icon" src="../static/images/online-shopping.png">
        <a class="cartbutton" href="{{ url_for('cart') }}">Cart</a>
    </div>
    <div class="title">
        <h1 class="titleinfo">Premium Football Equipment</h1>
        <p class="titleinfo">
            Football Shop is your direct line to the beautiful game, offering a curated selection of elite boots, authentic kits, and pro-grade gear. Built for players and fans alike, we combine top-tier quality with fast delivery to keep you ahead of the competition. From the local park to the big stadium, if it’s football, it’s here.</p>
    </div>
    <div class="filters">
        <button type="button">All</button>
        <button type="button">Balls</button>
        <button type="button">Footwear</button>
        <button type="button">Aparel</button>
        <button type="button">Accesories</button>
        <button type="button">Training</button>
    </div>
    <div class="products">
        {% for item in PRODUCTS %}
            <div class="product">
                <img class="productimg" src="{{url_for('static', filename='images/' + item.image)}}" alt="">
                <h3 class="productinfo">{{item.name}}</h1>
                <p class="productinfo">{{item.info}}</p>
                <h1 class="productinfo">${{item.price}}.00</h1>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="footer">
        <div class="footer1">
            <img class="footerlogo" src="../static/images/ball.png">
            <h1>FootballShop</h1>
        </div>
        <div class="verticalline"></div>
        <div class="footer2">
            <a class="footbut" href="{{ url_for('home') }}">
                <button>
                    Shop
                </button>
            </a>
            <a class="footbut" href="{{ url_for('cart') }}">
                <button>
                    Cart
                </button>
            </a>
        </div>
        <div class="verticalline"></div>
        <div class="footer3">
            <h2>Joshua Arada 2026</h2>
            <h2>DTE Assesment</h2>
            <h2>21005@rosmini.school.nz</h2>
        </div>
    </div>
</body>
</html>