<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FootballShop</title> 
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="navbar">
        <img class="logo" src="../static/images/ball.png">
        <h1 class="sitetitle">FootballShop</h1>
        <img class="icon" src="../static/images/bag.png">
        <a class="shopbutton" href="index.html">Shop</a>
        <img class="icon" src="../static/images/online-shopping.png">
        <a class="cartbutton" href="cart.html">Cart</a>
    </div>
    <div class="title">
        <h1 class="titleinfo">Premium Football Equipment</h1>
        <p class="titleinfo">Gemini said
            Football Shop is your direct line to the beautiful game, offering a curated selection of elite boots, authentic kits, and pro-grade gear. Built for players and fans alike, we combine top-tier quality with fast delivery to keep you ahead of the competition. From the local park to the big stadium, if it’s football, it’s here.</p>
    </div>
    <div class="filters">
        <button type="button">All</button>
        <button type="button">Balls</button>
        <button type="button">Footwear</button>
        <button type="button">Aparel</button>
        <button type="button">Accesories</button>
        <button type="button">Training</button>
    </div>
    <div class="products-1">
        <div class="product_1">
            <img class="productimg" src="../static/images/alex-F-p5j1eRe5Y-unsplash.jpg" alt="">
            <h3 class="productinfo">Professional Match Ball</h1>
            <p class="productinfo">Professional level match ball on par with the pros.</p>
            <h1 class="productinfo">$80.00</h1>
        </div>
        <div class="product_2">
            <img class="productimg" src="../static/images/otabek-xatipov-rx3Fpnl6sw4-unsplash.jpg" alt="">
            <h3 class="productinfo">Pro Performance Cleats</h1>
            <p class="productinfo">Top of the line football cleats worn by the profsionals.</p>
            <h1 class="productinfo">$100.00</h1>
        </div>
        <div class="product_3">
            <img class="productimg" src="../static/images/nelson-ndongala-Z4RYz52ljts-unsplash.jpg" alt="">
            <h3 class="productinfo">Premium Team Jersey</h1>
            <p class="productinfo">Football tees straight from the worlds favourite teams.</p>
            <h1 class="productinfo">$90.00</h1>
        </div>
        <div class="product_4">
            <img class="productimg" src="../static/images/soonita-omar-Wtx4cku85Pg-unsplash.jpg" alt="">
            <h3 class="productinfo">Goalkeeper Gloves</h1>
            <p class="productinfo">Professional level goalkeeper gloves used by the worlds best.</p>
            <h1 class="productinfo">$50.00</h1>
        </div>
    </div>
    <div class="products-2">
        <div class="product_5">
            <img class="productimg" src="../static/images/phillipkofler-soccer-1350774_1920.jpg" alt="">
            <h3 class="productinfo">Protective Shin Guards</h1>
            <p class="productinfo">Industrial level shin guards to keep you safe when playing.</p>
            <h1 class="productinfo">$30.00</h1>
        </div>
        <div class="product_6">
            <img class="productimg" src="../static/images/alexandraloves-cones-704219_1920.jpg" alt="">
            <h3 class="productinfo">Training Equipment Set</h1>
            <p class="productinfo">Professional training equipment to help you level up your game.</p>
            <h1 class="productinfo">$50.00</h1>
        </div>
        <div class="product_7">
            <img class="productimg" src="../static/images/planet_fox-ball-8048205_1920.jpg" alt="">
            <h3 class="productinfo">Elite Training Ball</h1>
            <p class="productinfo">Training ball that can get the job done at an amazing price.</p>
            <h1 class="productinfo">$40.00</h1>
        </div>
        <div class="product_8">
            <img class="productimg" src="../static/images/planet_fox-indoor-tournament-4723675_1920.jpg" alt="">
            <h3 class="productinfo">Indoor Court Shoes</h1>
            <p class="productinfo">Professional indoor court shoes for when the weather is too much.</p>
            <h1 class="productinfo">$70.00</h1>
        </div>
    </div>
    <div class="footer">
        <div class="footer1">
            <img class="footerlogo" src="../static/images/ball.png">
            <h1>Football Shop</h1>
        </div>
        <div class="footer2">
            <a href="index.html">Shop</a>
            <a href="cart.html">Cart</a>
        </div>
        <div class="footer3">
            <h2>Joshua Arada 2026</h2>
            <h2>DTE Assesment</h2>
            <h2>21005@rosmini.school.nz</h2>
        </div>
    </div>
</body>
</html>