<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{PRODUCT[0]}}</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="navbar">
        <img class="logo" src="../static/images/ball.png">
        <h1 class="sitetitle">FootballShop</h1>
        <img class="icon" src="../static/images/bag.png">
        <a class="shopbutton" href="{{ url_for('home') }}">Shop</a>
        <img class="icon" src="../static/images/online-shopping.png">
        <a class="cartbutton" href="{{ url_for('cart') }}">Cart</a>
    </div>
    <div class="propage">
        <div>
            <img class="proimg" src="{{url_for('static', filename='images/' + PRODUCT[1])}}">
        </div>
        <div class="propage2">
            <div class="propagetit">
                <h1 class="protit">{{PRODUCT[0]}}</h1>
                <h1 class="propri">${{PRODUCT[2]}}.00</h1>
            </div>
            <p class="proinf">{{PRODUCT[3]}}</p>
            <p>Disclaimer: All of our products are high quality and reliable. However, after you buy our product, you will never receive it. Do not pursue legal against our company because we have made it clear the you will not recieve any item you pay for. We highly advise you not to buy any of our products for your own financial well being. Thanks for understanding, the FootballShop team :)</p>
            <a class="footbut2" href="{{ url_for('cart') }}">
                <button class="footbut2">
                    Add To Cart
                </button>
            </a>
        </div>
    </div>
    <div class="footer">
        <div class="footer1">
            <img class="footerlogo" src="../static/images/ball.png">
            <h1>FootballShop</h1>
        </div>
        <div class="verticalline"></div>
        <div class="footer2">
            <a class="footbut" href="{{ url_for('home') }}">
                <button>
                    Shop
                </button>
            </a>
            <a class="footbut" href="{{ url_for('cart') }}">
                <button>
                    Cart
                </button>
            </a>
        </div>
        <div class="verticalline"></div>
        <div class="footer3">
            <h2>Joshua Arada 2026</h2>
            <h2>DTE Assesment</h2>
            <h2>21005@rosmini.school.nz</h2>
        </div>
    </div>
</body>
</html>