<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{PRODUCT[0]}}</title> <!-- This makes the title of the page the selected product name-->
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="navbar"> <!-- The navbar, it is the same across all pages -->
        <div class="atitle">
            <a href="{{ url_for('home') }}">
                <img class="logo" src="../static/images/ball.png">
                <h1 class="sitetitle">FootballShop</h1>
            </a>
        </div>
        <img class="icon" src="../static/images/bag.png">
        <a class="shopbutton" href="{{ url_for('home') }}">Shop</a> <!-- Link to the home page with all the products -->
        <img class="icon" src="../static/images/online-shopping.png">
        <a class="cartbutton" href="{{ url_for('cart') }}">Cart</a> <!-- Link to the cart page -->
    </div>
    <div class="propage"> <!-- This is the div that contains all the information and images of the selected product -->
        <div>
            <img class="proimg" src="{{url_for('static', filename='images/' + PRODUCT[1])}}"> <!-- Product img -->
        </div>
        <div class="propage2">
            <div class="propagetit">
                <h1 class="protit">{{PRODUCT[0]}}</h1> <!--- product name -->
                <h1 class="propri">${{PRODUCT[2]}}.00</h1> <!-- product price -->
            </div>
            <p class="proinf">{{PRODUCT[3]}}</p> <!-- product information -->
            <p>Disclaimer: All of our products are high quality and reliable. However, after you buy our product, you will never receive it. Do not pursue legal against our company because we have made it clear the you will not recieve any item you pay for. We highly advise you not to buy any of our products for your own financial well being. Thanks for understanding, the FootballShop team :)</p>
            <p>Free Shipping!</p>
            <a href="{{ url_for('add_to_cart', ID=PRODUCT[4]) }}"> <!-- Ensure ID is the correct index from your query -->
                <button class="footbut2">Add To Cart</button>
            </a>
            <a href="{{ url_for('cart') }}"> <!-- The add product to cart button -->
                <button class="gotocart">
                    Go to cart
                </button>
            </a>
        </div>
    </div>
    <div class="footer"> <!-- footer, it is the same across all pages -->
        <div class="footer1">
            <img class="footerlogo" src="../static/images/ball.png">
            <h1>FootballShop</h1>
        </div>
        <div class="verticalline"></div> <!-- line used to divide sections of the footer -->
        <div class="footer2">
            <a href="{{ url_for('home') }}"> <!-- button that takes user to home page with all the products -->
                <button class="footbut">
                    Shop
                </button>
            </a>
            <a href="{{ url_for('cart') }}"> <!-- button that takes user to cart page -->
                <button class="footbut">
                    Cart
                </button>
            </a>
        </div>
        <div class="verticalline"></div>
        <div class="footer3"> <!-- Just information about me because I didn't know what else to put here -->
            <h2>Joshua Arada 2026</h2>
            <h2>DTE Assesment</h2>
            <h2>21005@rosmini.school.nz</h2>
        </div>
    </div>
</body>
</html>